@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap");

:root {
  --pink: #ee0548;
  --black: #1c5474;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: 0.2s linear;
  text-transform: capitalize;
}

*::selection {
  background: var(--pink);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

body {
  background: var(--black);
}

section {
  padding: 3rem 9%;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.white {
  font-size: 1.6rem;
  color: #fff;
  padding-bottom: 1rem;
}

.team .box-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.team .box-container .box {
  margin: 1rem;

  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
  background: #fff url(../assets/images/design/card_bg.png) no-repeat;
  padding: 3rem 2rem;
  text-align: center;
  background-size: cover;
  flex: 1 1 23rem;
}

.team .box-container .box1 {
  flex: 1 1 43rem;
}

.team .box-container .box img {
  border-radius: 50%;
  object-fit: cover;
  height: 15rem;
  width: 15rem;
  padding: 1rem;
}

.team .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.team .box-container .box span {
  font-size: 1.6rem;
  color: var(--pink);
}

.team .box-container .box p {
  font-size: 1.5rem;
  color: #333;
  padding: 1rem 0;
}

.team .box-container .box .share {
  padding: 1rem 0;
}

.team .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  color: var(--black);
  background: #eee;
}

.team .box-container .box .share a:hover {
  color: #fff;
  background: var(--pink);
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem 4%;
  }

  section {
    padding: 3rem 4%;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.nav-toggle {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    background: #fff;
    border-radius: 0.5rem;
    color: var(--black);
    margin: 1.5rem;
    padding: 1rem 2rem;
    font-size: 2.5rem;
  }

  .home {
    justify-content: center;
    background-position: left;
  }

  .home .content {
    text-align: center;
  }

  .home .content span {
    font-size: 2rem;
  }

  .home .content h3 {
    font-size: 4rem;
    width: auto;
  }

  .clients .row {
    flex-flow: column;
  }

  .clients .row .divider {
    display: none;
  }

  .clients .row .box-container:last-child .box {
    display: flex;
    flex-flow: column-reverse;
  }

  .contact form .inputBox input {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}